* {
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 100;
}
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
button {
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, green, #EDCBB1);
    /* background-color: #EDCBB1; */
}
input {
    filter: opacity(0.5);
    height: 50px;
    width: 200px;
    color: black;
    font-size: 22px;
}
/* .title {
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    position: relative;
    color: #5D3440;
    font-weight: bold;
} */
#big-logo {
    margin-top: 120px;
    margin-left: 50px;
}
#small-logo {
    left: 30px;
    top: 70px;
    position: absolute;
    width: 100px;
    height: auto;
    transform: rotate(-20deg);
}
#navheader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #5D3440;
    text-align: center;
}
.nav-item {
    display: inline-block;
    font-size: 24px;
}
.nav-item a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
.nav-item:hover {
    background-color: white;
}
.nav-item a:hover {
    text-decoration: none;
    color: #5D3440;
}
.contex-box {
    /* position: absolute; */
    width: 100%;
    text-align: center;
}
.big-momma-component {
    /* padding: 10px; */
}
.registration {
    /* background-color: yellow; */
}
#error {
    color: red;
    margin-bottom: 30px;
    font-size: 20px;
}
#log-out {
    /* left: 50%;
    transform: translateX(-50%);
    position: absolute; */
    top: 600px;
}
#file-field {
    margin: 10px;
    transform: translateX(-3000px);
}
#file-label {
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
}
#uploader {
    border: #5D3440 10px solid;
    text-align: center;
    background-color: #EDCBB1;
    position: absolute;
    width: 600px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
}
#upload-button{
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
/* textarea{
    resize: none;
    width: 300px;
    height: 200px;
} */
#opp{
    background-color: red;
}
#close-x{
    float: right;
    margin-right: 20px;
    cursor: pointer;
    background-color: #5D3440;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
}
#loading-screen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#loading-img{
    position: relative;
}
#loading-message{
    position: relative;
    margin-left: 10px;
}
